html[data-theme='light'] {
	--text: #3f3f3f;
	--text-900: rgba(63, 63, 63, 0.9);
	--text-800: rgba(63, 63, 63, 0.8);
	--text-700: rgba(63, 63, 63, 0.7);
	--text-600: rgba(63, 63, 63, 0.6);
	--text-500: rgba(63, 63, 63, 0.5);
	--text-400: rgba(63, 63, 63, 0.4);
	--text-300: rgba(63, 63, 63, 0.3);
	--text-200: rgba(63, 63, 63, 0.2);
	--text-100: rgba(63, 63, 63, 0.1);
	--text-050: rgba(63, 63, 63, 0.05);
	--text-transparent: rgba(63, 63, 63, 0);
	--text-contrary: #FFF;
	--background: #fff;
	--navbar-background: #fff;
	--navbar-text-color: #353149;
	--navbar-brand-filter: initial;
	--panel-background: #f4f5f6;
	--panel-background-rich: #f0f1f2;
	--modal-background: #fff;
	--loading-overlay-backdrop-color: rgba(255, 255, 255, .55);
	--backdrop-opacity: 0.5;
	--tooltip-background: #353149;
	--tooltip-text-color: #FFF;
	--card-border: 0;
	--form-control-border: #ced4da;
	--form-group-text-background: #e9ecef;
	--table-background: #fafbfc;
	--table-in-modal-background: #fafbfc;
	--table-background-odd: rgba(0, 0, 0, 0.028);
	--table-hover: rgba(0, 0, 0, 0.025);
	--table-border: #dee2e6;
	--table-header-text-color: #353149;
	--secondary-normal: #6c757d;
	--secondary-normal-500: rgba(108, 117, 125, 0.5);
	--secondary-normal-rich: #5a6268;
	--secondary-normal-richer: #545b62;
	--secondary-normal-richest: #4e555b;
	--secondary-light: #d6d8db;
	--secondary-lighter: #e2e3e5;
	--secondary-light-rich: #c8cbcf;
	--secondary-dark: #383d41;
	--secondary-darker: #202326;
	--success-normal: #28a745;
	--success-normal-500: rgba(40, 167, 69, 0.5);
	--success-normal-rich: #218838;
	--success-normal-richer: #1e7e34;
	--success-normal-richest: #1c7430;
	--success-light: #c3e6cb;
	--success-lighter: #d4edda;
	--success-light-rich: #b1dfbb;
	--success-dark: #155724;
	--success-darker: #0b2e13;
	--info-normal: #353149;
	--info-normal-500: rgba(53, 49, 73, 0.5);
	--info-normal-rich: #2a273a;
	--info-normal-richer: #2a273a;
	--info-normal-richest: #1f1d2a;
	--info-light: #c2c1c8;
	--info-lighter: #d6d5da;
	--info-light-rich: #aeacb6;
	--info-dark: #1a1824;
	--info-darker: #0f0e15;
	--warning-normal: #ffc107;
	--warning-normal-500: rgba(255, 193, 7, 0.5);
	--warning-normal-rich: #e0a800;
	--warning-normal-richer: #d39e00;
	--warning-normal-richest: #c69500;
	--warning-light: #ffeeba;
	--warning-lighter: #fff3cd;
	--warning-light-rich: #ffe8a1;
	--warning-dark: #856404;
	--warning-darker: #533f03;
	--warning-contrast-text: #212529;
	--danger-normal: #dc3545;
	--danger-normal-500: rgba(220, 53, 69, 0.5);
	--danger-normal-rich: #c82333;
	--danger-normal-richer: #bd2130;
	--danger-normal-richest: #b21f2d;
	--danger-light: #f5c6cb;
	--danger-lighter: #f8d7da;
	--danger-light-rich: #f1b0b7;
	--danger-dark: #721c24;
	--danger-darker: #491217;
	--light-normal: #e5e5e5;
	--light-normal-500: rgba(229, 229, 229, 0.5);
	--light-normal-rich: #d8d8d8;
	--light-normal-richer: #d8d8d8;
	--light-normal-richest: #cbcbcb;
	--light-light: #f7f7f7;
	--light-lighter: #f9f9f9;
	--light-light-rich: #f4f4f4;
	--light-dark: #727272;
	--light-darker: #444444;
	--dark-normal: #1f1f1f;
	--dark-normal-500: rgba(31, 31, 31, 0.5);
	--dark-normal-rich: #121212;
	--dark-normal-richer: #121212;
	--dark-normal-richest: #050505;
	--dark-light: #bbbbbb;
	--dark-lighter: #d2d2d2;
	--dark-light-rich: #a5a5a5;
	--dark-dark: #0f0f0f;
	--dark-darker: #090909;
	--orange-light: #ffccbc;
	--scrollbar-thumb: #dfe0e1;
	--scrollbar-hover: #c6c7c8;
	--shadow-intensity: 0.75;
}
html[data-theme='dark'] {
	--text: #e0e0e0;
	--text-900: rgba(224, 224, 224, 0.9);
	--text-800: rgba(224, 224, 224, 0.8);
	--text-700: rgba(224, 224, 224, 0.7);
	--text-600: rgba(224, 224, 224, 0.6);
	--text-500: rgba(224, 224, 224, 0.5);
	--text-400: rgba(224, 224, 224, 0.4);
	--text-300: rgba(224, 224, 224, 0.3);
	--text-200: rgba(224, 224, 224, 0.2);
	--text-100: rgba(224, 224, 224, 0.1);
	--text-050: rgba(224, 224, 224, 0.05);
	--text-transparent: rgba(224, 224, 244, 0);
	--text-contrary: #343a40;
	--background: #161d20;
	--navbar-background: #2d3336;
	--panel-background: #2d3336;
	--panel-background-rich: #444a4c;
	--modal-background: #161d20;
	--loading-overlay-backdrop-color: rgba(24, 24, 24, .6);
	--backdrop-opacity: 0.6;
	--tooltip-background: #FFF;
	--tooltip-text-color: #000;
	--card-border: 1px solid #5b6062;
	--form-control-border: #5b6062;
	--form-control-focus: #f16f62;
	--form-control-focus-highlight: rgba(241, 111, 98, 0.15);
	--table-background: #2d3336;
	--table-in-modal-background: #2d3336;
	--table-background-odd: rgba(255, 255, 255, 0.075);
	--table-hover: rgba(255, 255, 255, 0.1);
	--table-border: #444a4c;
	--secondary-normal: #3c3f43;
	--secondary-normal-500: rgba(60,63,67, 0.5);
	--secondary-normal-rich: #303236;
	--secondary-normal-richer: #303236;
	--secondary-normal-richest: #242628;
	--secondary-light: #18191a;
	--secondary-lighter: #121214;
	--secondary-light-rich: #1e1f21;
	--secondary-dark: #9d9fa1;
	--secondary-darker: #b1b2b3;
	--success-normal: #00bc8c;
	--success-normal-500: rgba(0,188,140, 0.5);
	--success-normal-rich: #00a379;
	--success-normal-richer: #00a379;
	--success-normal-richest: #008966;
	--success-light: #004b38;
	--success-lighter: #00382a;
	--success-light-rich: #005e46;
	--success-dark: #7fddc5;
	--success-darker: #b2eadc;
	--info-normal: #353149;
	--info-normal-500: rgba(53, 49, 73, 0.5);
	--info-normal-rich: #2a273a;
	--info-normal-richer: #2a273a;
	--info-normal-richest: #1f1d2a;
	--info-light: #c2c1c8;
	--info-lighter: #d6d5da;
	--info-light-rich: #aeacb6;
	--info-dark: #1a1824;
	--info-darker: #0f0e15;
	--warning-normal: #f5af41;
	--warning-normal-500: rgba(245,175,65, 0.5);
	--warning-normal-rich: #f4a529;
	--warning-normal-richer: #f4a529;
	--warning-normal-richest: #f29b11;
	--warning-light: #62461a;
	--warning-lighter: #493413;
	--warning-light-rich: #7a5720;
	--warning-dark: #fad7a0;
	--warning-darker: #fce7c6;
	--warning-contrast-text: #343a40;
	--danger-normal: #ff5252;
	--danger-normal-500: rgba(255,82,82, 0.5);
	--danger-normal-rich: #ff3939;
	--danger-normal-richer: #ff3939;
	--danger-normal-richest: #ff1f1f;
	--danger-light: #662020;
	--danger-lighter: #4c1818;
	--danger-light-rich: #7f2929;
	--danger-dark: #ffa8a8;
	--danger-darker: #ffcbcb;
	--light-normal: #343a40;
	--light-normal-500: rgba(52, 58, 64, 0.5);
	--light-normal-rich: #23272b;
	--light-normal-richer: #1d2124;
	--light-normal-richest: #171a1d;
	--light-light: #c6c8ca;
	--light-lighter: #d6d8d9;
	--light-light-rich: #b9bbbe;
	--light-dark: #1b1e21;
	--light-darker: #040505;
	--dark-normal: #f8f9fa;
	--dark-normal-500: rgba(248, 249, 250, 0.5);
	--dark-normal-rich: #e2e6ea;
	--dark-normal-richer: #dae0e5;
	--dark-normal-richest: #d3d9df;
	--dark-light: #4a4a4b;
	--dark-lighter: #313132;
	--dark-light-rich: #636364;
	--dark-dark: #fbfcfc;
	--dark-darker: #fcfdfd;
	--scrollbar-thumb: rgba(224, 224, 224, .1);
	--scrollbar-hover: rgba(224, 224, 224, .2);
	--shadow-intensity: 4;
}
